@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.purples.500");
    border-right-color: theme("colors.white.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.white.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  .file-upload-wrapper {
    position: relative;
    display: inline-block;
  }

  .file-input {
    position: absolute;

    width: 400px;
    height: 480px;
    opacity: 0;
    cursor: pointer;
  }

  .file-upload-button {
    display: flex;
  }

  .file-upload-button .relative {
    height: 32px; /* replace with h-8 */
    width: 32px; /* replace with w-8 */
  }

  .file-upload-button p {
    color: #7b61ff; /* replace with text-purples-500 */
  }

  /* Add responsive styles */
  @media (min-width: 1024px) {
    .file-upload-button {
      width: 36px; /* replace with lg:w-36 */
      height: 36px; /* replace with lg:h-36 */
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* For data picker */
.rdp {
  --rdp-cell-size: 32px !important;
  /* --rdp-accent-color: theme("colors.accent.500") !important; */
  /* --rdp-background-color: theme("colors.accent.600") !important; */
  margin: 0 !important;
}
